body {
    background: black;
}
#targetLabel {
    position: relative;
    top: -22px;
    left: -22px;
    color: rgb(238, 238, 238);
    font-size:150px;
    -webkit-text-stroke: 1px black;
    opacity: 0.7;
}
#chessboard {
    margin: auto;
    width: 800px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    resize: both;
    overflow: auto;
}
.squareE {
    background-color: rgb(181, 136, 99);
    width: 12.5%;
    height: 12.5%;
    cursor: pointer;
}
.squareO {
    background-color: rgb(240, 217, 181);
    width: 12.5%;
    height: 12.5%;
    cursor: pointer;
}