.bg-secondary {
    background-color: #282e34 !important;
}

#chessboard {
    margin: auto;
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    resize: both;
    overflow: auto;
}
.squareE {
    background-color: rgb(181, 136, 99);
    width: 12.5%;
    height: 12.5%;
    cursor: pointer;
}
.squareO {
    background-color: rgb(240, 217, 181);
    width: 12.5%;
    height: 12.5%;
    cursor: pointer;
}

.waiting{
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 40px;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 1300px;
    top: 560px;
    opacity: 0;
    pointer-events:none;
    text-shadow: 0px 0px 7px #000000;
}
.next{
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 60px;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 1050px;
    top: 540px;
    pointer-events:none;
    text-shadow: 0px 0px 7px #000000;
    opacity: 0.9;
}
.main{
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 180px;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 790px;
    top: 380px;
    pointer-events:none;
    text-shadow: 0px 0px 7px #000000;
    opacity: 0.8;
}

.appearfromRight{
    display: inline-block;
    color: rgb(255, 255, 255);
    width: 50px;
    height: 50px;
    position: absolute;
    transition: 0.1s;
    left: 1050px !important;
    top: 540px !important;
    font-size: 60px !important;
    opacity: 0.9 !important;
    pointer-events:none;
    text-shadow: 0px 0px 7px #000000;
  }
.moveLeft{
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 50px;
    width: 50px;
    height: 50px;
    position: absolute;
    transition: 0.1s;
    left: 790px !important;
    top: 380px;
    font-size: 180px !important;
    pointer-events:none;
    text-shadow: 0px 0px 7px #000000;
    opacity: 0.8;
  }
.fadeLeft{
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 50px;
    width: 50px;
    height: 50px;
    position: absolute;
    transition: 0.1s;
    top: 480px;
    left: 450px !important;
    opacity: 0;
    pointer-events:none;
    text-shadow: 0px 0px 7px #000000;
  }
.closed{
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 40px;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 600px;
    top: 300px;
    opacity: 0;
    pointer-events:none;
    text-shadow: 0px 0px 7px #000000;
  }