html,body{
    overflow-x: hidden;
}

.bg-secondary {
    background-color: #292E33 !important;
}
.bg-dark {
    background-color: #181818 !important;
}

#maindiv{
    position: relative; /*gives childs possibility to position absolute relatively to parent, not to browser*/
    float: left;
    width: 80%;
    max-width: 935px;
    max-height: 935px;
}

#chessboard {
    aspect-ratio:1/1;
    display: flex;
    flex-wrap: wrap;
    resize: both;
    overflow: auto;
    width: 100%;
    height: 100%;
    max-width: 935px;
    max-height: 935px;
}

.progress{
    width: 80%;
    max-width: 935px;
    margin-top: -5px;
}

.coordinatesColumn {
    margin-left: 1%;
    width: 2%;
    height: 95%;
    float: left; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 900px;
}

.coordinatesRow{
    width: 80%;
    clear: both;
    display: flex;
    justify-content: space-between;
    padding-top: 2px;
    max-width: 900px;
}

.squareE {
    background-color: rgb(181, 136, 99);
    width: 12.5%;
    height: 12.5%;
    cursor: pointer;
}
.squareO {
    background-color: rgb(240, 217, 181);
    width: 12.5%;
    height: 12.5%; 
    cursor: pointer;
}
.waitingField{
    color: rgb(255, 255, 255);
    font-size: 87px;
    position: absolute;
    left: 105%;
    top: 54%;
    opacity: 0;
    pointer-events:none;
    text-shadow: 0px 0px 7px #000000;
}
.nextField{
    color: rgb(255, 255, 255);
    position: absolute;
    transition: 0.1s;
    left: 62%;
    top: 54%;
    font-size: 87px;
    opacity: 0.9;
    pointer-events:none;
    text-shadow: 0px 0px 9px #000000;
}
.mainField{
    color: rgb(255, 255, 255);
    font-size: 205px;
    text-align: left;
    position: absolute;
    left: 20%;
    top: 23%;
    transition: 0.1s;
    pointer-events:none;
    text-shadow: 0px 0px 9px #000000;
    opacity: 0.8;
}
.fadeLeft{
    color: rgb(255, 255, 255);
    font-size: 180px;
    position: absolute;
    transition: 0.1s;
    left: -30%;
    top: 23%;
    opacity: 0;
    pointer-events:none;
    text-shadow: 0px 0px 9px #000000;
  }

  @font-face {
    font-family: 'digital-7';
    src: url('font/digital-7.ttf');
  }

  #time-left{
    font-family: digital-7;
  }

  #startCard, #stopCard, #startCardMob, #stopCardMob{
    cursor: pointer;
  }

  #startCard:hover{
    background-color: #0d6dfde0 !important;
  }

  #stopCard, #stopCardMob, #showDetails{
    display: none;
  }

  @keyframes redC {
    50% {
        width: 20%;
        height: 20%;
        top: 85%;
        left: 85%;
        font-size: 40px;
        opacity: 0.4;
    }
    100% {
        position: absolute;
        background: #231f12;
    }
   }
    .redcircle {
        animation-name: redC;
        animation-duration: 2s;
        position: absolute;
        width: 15px;
        height: 15px;
        background: #ffc107;
        border-radius: 50%;
        top: 99%;
        left: 99%;
        font-size: 1px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        opacity: 0.5;
    }
    .redcircle:first-child{
        color: rgb(255, 255, 255);
        padding-top: 2%;
    }