.bg-secondary {
    background-color: #292E33 !important;
}

#maindiv{
    position: relative; /*gives childs possibility to position absolute relatively to parent, not to browser*/
    aspect-ratio:1/1;
    /*border: 2px solid red;*/
}

#chessboard {
    margin: auto;
    width: 100%;
    /*height: 634px;*/
    aspect-ratio:1/1;
    display: flex;
    flex-wrap: wrap;
    resize: both;
    overflow: auto;
}

.squareE {
    background-color: rgb(181, 136, 99);
    width: 12.5%;
    height: 12.5%;
    cursor: pointer;
}
.squareO {
    background-color: rgb(240, 217, 181);
    width: 12.5%;
    height: 12.5%;
    cursor: pointer;
}

.waiting{
    color: rgb(255, 255, 255);
    font-size: 60px;
    position: absolute;
    left: 105%;
    top: 54%;
    opacity: 0;
    pointer-events:none;
    text-shadow: 0px 0px 7px #000000;
}
.next{
    color: rgb(255, 255, 255);
    font-size: 60px;
    pointer-events:none;
    text-shadow: 0px 0px 7px #000000;
    opacity: 0.9;
    text-align: left;
    position: relative;
    left: -3%;
    top: 30%;
}
.main{
    color: rgb(255, 255, 255);
    font-size: 180px;    /*180px*/
    pointer-events:none;
    text-shadow: 0px 0px 7px #000000;
    opacity: 0.8;
    text-align: left;
    position: relative;
    left: 60%;
}
.appearfromRight{
    color: rgb(255, 255, 255);
    position: absolute;
    transition: 0.1s;
    left: 62%;
    top: 54%;
    font-size: 60px;
    opacity: 0.9;
    pointer-events:none;
    text-shadow: 0px 0px 7px #000000;
  }
/*.moveLeft{
    color: rgb(255, 255, 255);
    font-size: 180px;
    position: absolute;
    transition: 0.1s;
    left: 20%;
    top: 23%;
    pointer-events:none;
    text-shadow: 0px 0px 7px #000000;
    opacity: 0.8;
  }*/
  .moveLeft{
    color: rgb(255, 255, 255);
    font-size: 180px;
    text-align: left;
    position: relative;
    left: 60%;
    transition: 0.1s;
    pointer-events:none;
    text-shadow: 0px 0px 7px #000000;
    opacity: 0.8;
  }
.fadeLeft{
    color: rgb(255, 255, 255);
    font-size: 110px;
    position: absolute;
    transition: 0.1s;
    left: -20%;
    top: 31%;
    opacity: 0;
    pointer-events:none;
    text-shadow: 0px 0px 7px #000000;
  }

  @font-face {
    font-family: 'digital-7';
    src: url('font/digital-7.ttf');
  }

  #time-left{
    font-family: digital-7;
  }


/*
  .main{
    color: rgb(255, 255, 255);
    font-size: 180px;
    position: absolute;
    left: 20%;
    top: 23%;
    pointer-events:none;
    text-shadow: 0px 0px 7px #000000;
    opacity: 0.8;
}
.next{
    color: rgb(255, 255, 255);
    font-size: 60px;
    position: absolute;
    left: 62%;
    top: 54%;
    pointer-events:none;
    text-shadow: 0px 0px 7px #000000;
    opacity: 0.9;
}
*/